<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testetimipro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testetimipro.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testetimipro</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$testetimipro</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TesteTimipro" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Entidade.dbTimiproTeste.csdl|res://*/Entidade.dbTimiproTeste.ssdl|res://*/Entidade.dbTimiproTeste.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=matheushenrique.database.windows.net;initial catalog=matheus;persist security info=True;user id=developer;password=Dev@0033;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TimproTeste.Entidade.TesteTimipro, TimproTeste" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TesteTimipro-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entidade.dbTimiproTeste.csdl|res://*/Entidade.dbTimiproTeste.ssdl|res://*/Entidade.dbTimiproTeste.msl;provider=System.Data.SqlClient;provider connection string="data source=matheushenrique.database.windows.net;initial catalog=matheus;persist security info=True;user id=developer;password=Dev@0033;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>